*.o
.cproject
.project
/test_set/
/releases/
Makefile.*
GPATH
GRTAGS
GTAGS
.Rhistory
.settings/
.vscode/
/man2html/
.kdev4/
/downloads/
/install/
upstream/bin/
output/
.DS_Store
.DS_Store
.daemon.*
example_results/
logs/
*.pdf

